In [1]:
import pandas as pd
from pandas import json_normalize
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
import datetime

%matplotlib inline
pd.set_option('display.max_columns', None)

In [4]:
# zip code to lat long
# https://download.geonames.org/export/zip/

zip_df = pd.read_csv('./data/CA_zips.csv')
zip_df.head()

  country  zip_code        city  county state  latitude  longitude
0      US     99553      Akutan  Alaska    AK   54.1430  -165.7854
1      US     99571    Cold Bay  Alaska    AK   55.1858  -162.7211
2      US     99583  False Pass  Alaska    AK   54.8542  -163.4113
3      US     99612   King Cove  Alaska    AK   55.0628  -162.3056
4      US     99661  Sand Point  Alaska    AK   55.3192  -160.4914

In [ ]:
# lat lon to daily weather

API_key = [REDACTED]

url_weather = f"https://api.openweathermap.org/data/3.0/onecall/timemachine?lat=38.77346634864807&lon=-121.36368582956493&dt=1658362065&appid={API_key}"
weather_req = requests.get(url_weather)
print(f'Status: {weather_req.status_code}')

weather = weather_req.json()
print(weather.keys())

weather_df = json_normalize(weather['data'])
weather_df = weather_df[['dt', 'temp']]

# Convert dt UNIX to datetime UTC
weather_df['dt'] = weather_df['dt'].apply(lambda x: datetime.datetime.fromtimestamp(x))

weather_df.head()